.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }
  .menu-btn .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 6px 0;
    background: white;
    transition: all 0.4s ease-in-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -17px; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #046dd4;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease-in-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #047aed;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.4s ease-in-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/portrait.jpg");
      border-radius: 50%;
      background-size: cover;
      border: solid 3px white; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.4s ease-in-out; }
    .menu .nav-link:hover {
      color: black;
      transition: ease-out; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

* {
  box-sizing: border-box; }

body {
  background: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-image {
    background: url(../images/wpt.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(4, 122, 237, 0.6); }
  body#bg-about {
    background: url(../images/wpt.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; }
    body#bg-about::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: -1;
      background: rgba(4, 122, 237, 0.6); }
  body#bg-road {
    background: url(/dist/images/roadc.jpg);
    background-attachment: scroll;
    background-size: contain;
    overflow-x: hidden;
    overflow-y: scroll; }
    body#bg-road::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300%;
      z-index: -1; }
  body#bg-contact {
    background: url(../images/wpt.jpg);
    background-attachment: fixed;
    background-size: cover; }

h1,
h2 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading {
    font-size: 5.5rem;
    border: solid 2px #047aed;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
    color: white; }
  h1.sm-heading,
  h2.sm-heading {
    padding: auto;
    background: rgba(4, 122, 237, 0.4);
    margin-top: 20px;
    color: white; }
  h1.lg-heading-about,
  h2.lg-heading-about {
    padding: auto;
    font-size: 5.5rem;
    background: rgba(4, 122, 237, 0.4);
    margin-top: 20px;
    padding-left: 30px;
    color: white;
    text-align: start;
    height: 150px; }
  h1.edutitle,
  h2.edutitle {
    grid-area: edutitle;
    background: rgba(4, 122, 237, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: white;
    overflow: hidden; }
  h1.edutitle1,
  h2.edutitle1 {
    grid-area: edutitle1;
    opacity: 0; }
  h1.skill,
  h2.skill {
    grid-area: skill;
    background: rgba(4, 122, 237, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: white;
    overflow: hidden; }
  h1.skill1,
  h2.skill1 {
    grid-area: skill1;
    opacity: 0; }
  h1.exatitle,
  h2.exatitle {
    grid-area: exatitle;
    background: rgba(4, 122, 237, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: white;
    overflow: hidden; }
  h1.exatitle1,
  h2.exatitle1 {
    grid-area: exatitle1;
    opacity: 0; }
  h1.lg-heading-road,
  h2.lg-heading-road {
    font-size: 5.5rem;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    color: white;
    background: rgba(4, 122, 237, 0.8);
    height: 150px; }
  h1.lg-heading-contact,
  h2.lg-heading-contact {
    font-size: 4.5rem;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    color: white;
    background: rgba(4, 122, 237, 0.8);
    height: 150px; }
  h1.lg-heading-work,
  h2.lg-heading-work {
    font-size: 4.5rem;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    color: white;
    background: rgba(4, 122, 237, 0.8);
    height: 150px; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.second-text {
  color: #020236; }

main {
  min-height: calc(100vh - 150px);
  text-align: center; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 35vh; }

.about-info {
  display: grid;
  grid-gap: 20px;
  row-gap: 100px;
  margin-bottom: 200px;
  grid-template-areas: "bioimage bio" "edutitle edutitle1" "edu1 edu2" "skill skill1" "skills skills" "exatitle exatitle1" "exa1 exa2";
  grid-template-columns: repeat(2, 1fr); }

.bio-image {
  grid-area: bioimage;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 70px;
  border-radius: 50%;
  border: 2px solid; }
  .bio-image:hover {
    transform: rotateY(360deg);
    transition: 2s; }

.bio {
  grid-area: bio;
  width: 80%;
  text-align: start;
  padding-top: 20px;
  background: rgba(4, 122, 237, 0.4);
  padding: 10px 40px;
  margin-top: 80px;
  color: white;
  font-size: 18px; }

.edu1 {
  grid-area: edu1;
  background-color: white;
  width: 465px;
  height: 200px;
  margin: auto;
  margin-left: 160px;
  background: url(/dist/images/thw.jpg);
  background-size: cover; }
  .edu1 .edu-text1 {
    position: absolute;
    opacity: 0;
    color: white;
    height: 200px;
    width: 465px;
    background: rgba(0, 0, 0, 0.9);
    font-size: 30px;
    line-height: 10px;
    padding-top: 30px; }
    .edu1 .edu-text1:hover {
      opacity: 1;
      transition: all 0.4s ease-in-out; }

.edu2 {
  grid-area: edu2;
  background: url(/dist/images/rc.jpg);
  background-size: cover;
  width: 465px;
  height: 200px;
  margin: auto;
  margin-right: 170px; }
  .edu2 .edu-text2 {
    color: white;
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.9);
    height: 200px;
    width: 465px;
    opacity: 0; }
    .edu2 .edu-text2:hover {
      opacity: 1;
      transition: all 0.4s ease-in-out; }

.skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  grid-area: skills;
  background: rgba(255, 255, 255, 0.4);
  margin: auto;
  margin-top: 60px;
  padding-top: 15px; }
  .skills .html-image:hover {
    height: 250px;
    transition: all 0.4s ease-in-out; }
  .skills .js-image:hover {
    height: 250px;
    transition: ease-out;
    transition: all 0.4s ease-in-out; }
  .skills .css-image {
    height: 200px;
    margin-left: 40px;
    margin-right: 40px; }
    .skills .css-image:hover {
      height: 250px;
      transition: ease-out;
      transition: all 0.4s ease-in-out; }
  .skills .react-image {
    margin: 40px;
    margin-right: 20px; }
    .skills .react-image:hover {
      height: 200px;
      transition: ease-out;
      transition: all 0.4s ease-in-out; }
  .skills .java-image {
    margin-top: 40px; }
    .skills .java-image:hover {
      height: 200px;
      transition: ease-out;
      transition: all 0.4s ease-in-out; }
  .skills .so-image {
    margin: 40px;
    margin-left: 20px; }
    .skills .so-image:hover {
      height: 190px;
      transition: ease-out;
      transition: all 0.4s ease-in-out; }

.exa1 {
  grid-area: exa1;
  background: url(/dist/images/teatas.jpg);
  background-size: cover;
  width: 465px;
  height: 300px;
  margin: auto;
  margin-left: 150px; }
  .exa1 .exa-text1 {
    color: white;
    padding-top: 5px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.9);
    height: 300px;
    width: 465px;
    opacity: 0; }
    .exa1 .exa-text1:hover {
      opacity: 1;
      transition: all 0.4s ease-in-out; }
  .exa1 th,
  .exa1 td {
    padding: 10px;
    line-height: 30px;
    border: 1px solid #ddd; }
    .exa1 th:hover,
    .exa1 td:hover {
      color: black;
      background: white;
      transition: all 0.4s ease-in-out; }

.exa2 {
  grid-area: exa2;
  background: url(/dist/images/telc.jpg);
  background-size: cover;
  width: 465px;
  height: 300px;
  margin: auto;
  margin-right: 170px; }
  .exa2 .exa-text2 {
    color: white;
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.9);
    height: 300px;
    width: 465px;
    opacity: 0; }
    .exa2 .exa-text2:hover {
      opacity: 1;
      transition: all 0.4s ease-in-out; }
  .exa2 th,
  .exa2 td {
    padding: 10px;
    line-height: 30px;
    border: 1px solid #ddd;
    width: 465px; }
    .exa2 th:hover,
    .exa2 td:hover {
      color: black;
      background: white;
      transition: all 0.4s ease-in-out; }

.jobs {
  display: flex;
  column-gap: 170px;
  width: 200px;
  margin-bottom: 30px; }
  .jobs .jobs-left {
    flex: 40%;
    list-style: none;
    margin-left: 100px;
    margin-top: 80px;
    padding-right: 40px;
    background: rgba(211, 211, 211, 0.8); }
    .jobs .jobs-left .job1 {
      background: url(/dist/images/gorrilas.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;
      margin-top: 120px; }
      .jobs .jobs-left .job1 .jobtext {
        font-size: 20px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        padding-top: 120px; }
        .jobs .jobs-left .job1 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }
    .jobs .jobs-left .job2 {
      font-size: 20px;
      background: url(/dist/images/bakery.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px; }
      .jobs .jobs-left .job2 .jobtext {
        font-size: 20px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        padding-top: 120px; }
        .jobs .jobs-left .job2 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }
    .jobs .jobs-left .job3 {
      font-size: 20px;
      background: url(/dist/images/tkmax.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px; }
      .jobs .jobs-left .job3 .jobtext {
        padding-top: 120px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0; }
        .jobs .jobs-left .job3 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }
  .jobs .jobs-right {
    flex: 40%;
    list-style: none;
    background: rgba(211, 211, 211, 0.8);
    margin-top: 280px;
    padding-top: 120px;
    padding-right: 40px; }
    .jobs .jobs-right .job4 {
      font-size: 20px;
      background: url(/dist/images/runner.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px; }
      .jobs .jobs-right .job4 .jobtext {
        padding-top: 120px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0; }
        .jobs .jobs-right .job4 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }
    .jobs .jobs-right .job5 {
      font-size: 20px;
      background: url(/dist/images/edeka.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px; }
      .jobs .jobs-right .job5 .jobtext {
        padding-top: 120px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0; }
        .jobs .jobs-right .job5 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }
    .jobs .jobs-right .job6 {
      font-size: 20px;
      background: url(/dist/images/macd.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 100px; }
      .jobs .jobs-right .job6 .jobtext {
        padding-top: 120px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0; }
        .jobs .jobs-right .job6 .jobtext:hover {
          opacity: 1;
          transition: all 0.4s ease-in-out; }

.cont {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cont .email {
    background: url(/dist/images/email.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px;
    margin-top: 100px; }
    .cont .email .cont-text {
      font-size: 35px;
      font-weight: 400;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid; }
      .cont .email .cont-text:hover {
        height: 250px;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
        border: 6px solid; }
  .cont .p-num {
    background: url(/dist/images/pn.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px; }
    .cont .p-num .cont-text {
      font-size: 35px;
      font-weight: 500;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid; }
      .cont .p-num .cont-text:hover {
        height: 45vh;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
        border: 6px solid; }
  .cont .address {
    background: url(/dist/images/address.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px; }
    .cont .address .cont-text {
      font-size: 35px;
      font-weight: 400;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid; }
      .cont .address .cont-text:hover {
        height: 45vh;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
        border: 6px solid; }

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .projects .item img {
    width: 416px;
    margin-top: 40px;
    border: 2px solid white; }
    .projects .item img:hover {
      opacity: 0.5;
      transition: 0.2s; }
  .projects .item .btn-light {
    display: inline-block;
    color: black;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    background-color: gray;
    width: 30%;
    font-size: 25px;
    font-weight: 500; }
    .projects .item .btn-light:hover {
      border: 3px gray solid;
      background-color: white;
      transition: 0.2s; }
  .projects .item .btn-dark {
    display: inline-block;
    color: black;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    border: 3px gray solid;
    width: 30%;
    font-size: 25px;
    font-weight: 500; }
    .projects .item .btn-dark:hover {
      border: 3px gray solid;
      background-color: white;
      transition: 0.2s; }

footer {
  background: #047aed;
  height: 150px;
  margin-bottom: 0; }
  footer .footer-text {
    font-size: 20px;
    text-align: center;
    padding-top: 50px; }

@media screen and (max-width: 500px) {
  main#home h1 {
    font-size: 50px; }
  main#home h2 {
    font-size: 20px; }
  main#about h1 {
    font-size: 50px;
    height: 130px; }
  main#road h1 {
    font-size: 40px;
    height: 130px; }
  main#work h1 {
    font-size: 40px;
    text-align: start;
    padding-left: 10px;
    height: 130px; }
  main#contact h1 {
    font-size: 35px;
    text-align: start;
    padding-left: 10px;
    height: 130px; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu-nav {
    height: 70vh; }
  .menu-branding {
    height: 30vh; }
    .menu-branding .portrait {
      height: 150px;
      width: 150px; }
  .about-info {
    margin-bottom: 10px;
    grid-template-areas: "bioimage" "bio" "edutitle" "edu1" "edu2" "skill" "skills" "skills" "exatitle" "exa1" "exa2";
    grid-template-columns: 1fr; }
    .about-info .bio-image {
      margin-left: 150px;
      margin-top: 150px;
      align-items: center; }
    .about-info .bio {
      width: 400px;
      text-align: center;
      margin-left: 8%;
      margin-top: 1%; }
    .about-info .edu1 {
      margin-left: 40px;
      height: 170px;
      width: 400px; }
      .about-info .edu1 .edu-text1 {
        height: 170px;
        width: 400px;
        font-size: 20px; }
    .about-info .edu2 {
      margin-left: 40px;
      height: 170px;
      width: 400px; }
      .about-info .edu2 .edu-text2 {
        height: 170px;
        width: 400px;
        font-size: 20px; }
    .about-info .skills {
      margin-left: 70px;
      padding-left: 80px;
      padding-top: 50px;
      width: 350px;
      height: 600px;
      align-items: center; }
      .about-info .skills .html-image {
        height: 100px;
        margin-bottom: 90px; }
        .about-info .skills .html-image:hover {
          height: 150px;
          transition: all 0.4s ease-in-out; }
      .about-info .skills .css-image {
        height: 100px;
        margin-bottom: 90px; }
        .about-info .skills .css-image:hover {
          height: 150px;
          transition: all 0.4s ease-in-out; }
      .about-info .skills .js-image {
        height: 100px; }
        .about-info .skills .js-image:hover {
          height: 150px;
          transition: all 0.4s ease-in-out; }
      .about-info .skills .react-image {
        height: 70px; }
        .about-info .skills .react-image:hover {
          height: 120px;
          transition: all 0.4s ease-in-out; }
      .about-info .skills .java-image {
        height: 70px; }
        .about-info .skills .java-image:hover {
          height: 110px;
          transition: all 0.4s ease-in-out; }
      .about-info .skills .so-image {
        height: 80px;
        margin-left: 40px;
        margin-top: 90px; }
        .about-info .skills .so-image:hover {
          height: 110px;
          transition: all 0.4s ease-in-out; }
    .about-info .exa1 {
      margin-left: 40px;
      height: 250px;
      width: 400px; }
      .about-info .exa1 .exa-text1 {
        height: 250px;
        width: 400px;
        font-size: 20px; }
    .about-info .exa2 {
      margin-left: 40px;
      height: 250px;
      width: 400px; }
      .about-info .exa2 .exa-text2 {
        height: 250px;
        width: 400px;
        font-size: 20px; }
    .about-info .edutitle {
      text-align: start; }
    .about-info .skill {
      text-align: start; }
    .about-info .exatitle {
      text-align: start; }
  .projects .item {
    width: 400px; }
    .projects .item img {
      width: 240px; }
  .jobs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px; }
    .jobs .jobs-left {
      width: 350px;
      margin-left: 65px;
      margin-bottom: 0; }
      .jobs .jobs-left .job1 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px; }
        .jobs .jobs-left .job1 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
      .jobs .jobs-left .job2 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px; }
        .jobs .jobs-left .job2 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
      .jobs .jobs-left .job3 {
        height: 190px;
        width: 270px; }
        .jobs .jobs-left .job3 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
    .jobs .jobs-right {
      width: 350px;
      margin-left: 65px;
      margin-top: 0; }
      .jobs .jobs-right .job4 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px; }
        .jobs .jobs-right .job4 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
      .jobs .jobs-right .job5 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px; }
        .jobs .jobs-right .job5 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
      .jobs .jobs-right .job6 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px; }
        .jobs .jobs-right .job6 .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px; }
  .cont .email {
    width: 400px;
    margin-right: 40px; }
    .cont .email .cont-text {
      font-size: 25px; }
      .cont .email .cont-text:hover {
        height: 50px;
        width: 400px;
        color: black;
        background: white;
        padding-bottom: 150px;
        margin-left: 0px; }
  .cont .p-num {
    width: 400px;
    margin-right: 40px; }
    .cont .p-num .cont-text {
      font-size: 20px; }
      .cont .p-num .cont-text:hover {
        height: 50px;
        width: 400px;
        color: black;
        background: white;
        padding-bottom: 150px;
        margin-left: 0px; }
  .cont .address {
    width: 400px;
    margin-right: 40px; }
    .cont .address .cont-text {
      font-size: 20px; }
      .cont .address .cont-text:hover {
        height: 50px;
        width: 400px;
        color: black;
        background: white;
        padding-bottom: 150px;
        margin-left: 0px; } }

@media screen and (max-width: 768px) and (min-width: 501px) {
  main#home h1 {
    font-size: 70px; }
  main#home h2 {
    font-size: 20px; }
  main#about h1 {
    font-size: 50px;
    height: 150px; }
  main#road h1 {
    font-size: 55px;
    height: 150px; }
  main#work h1 {
    font-size: 55px;
    text-align: start;
    padding-left: 10px;
    height: 150px; }
  main#contact h1 {
    font-size: 55px;
    text-align: start;
    padding-left: 15px;
    height: 150px; }
  main .lg-heading {
    line-height: 1; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu-nav {
    height: 70vh; }
  .menu-branding {
    height: 30vh; }
    .menu-branding .portrait {
      height: 150px;
      width: 150px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "edutitle" "edu1" "edu2" "skill" "skills" "skills" "exatitle" "exa1" "exa2";
    grid-template-columns: 1fr; }
  .bio-image {
    margin-left: 42%;
    align-items: center; }
  .bio {
    width: 100%;
    margin-left: 8%;
    margin-top: 1%; }
  .edutitle {
    text-align: start; }
  .edu1 {
    margin-left: 22%; }
  .edu2 {
    margin-left: 22%; }
  .skill {
    text-align: start; }
  .skills {
    margin-left: 20%;
    padding-left: 13%; }
  .exatitle {
    text-align: start; }
  .exa1 {
    margin-left: 22%; }
  .exa2 {
    margin-left: 22%; }
  .jobs {
    display: flex;
    flex-wrap: wrap; }
    .jobs .jobs-left .job1 {
      height: 350px;
      width: 470px; }
      .jobs .jobs-left .job1 .jobtext {
        height: 350px;
        width: 470px;
        margin-left: -235px; }
    .jobs .jobs-left .job2 {
      height: 350px;
      width: 470px; }
      .jobs .jobs-left .job2 .jobtext {
        height: 350px;
        width: 470px;
        margin-left: -235px; }
    .jobs .jobs-left .job3 {
      height: 350px;
      width: 470px; }
      .jobs .jobs-left .job3 .jobtext {
        height: 350px;
        width: 470px;
        margin-left: -235px; }
    .jobs .jobs-right {
      height: 1500px;
      width: 550px;
      margin-left: 100px;
      margin-top: 30px; }
      .jobs .jobs-right .job4 {
        height: 350px;
        width: 470px; }
        .jobs .jobs-right .job4 .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px; }
      .jobs .jobs-right .job5 {
        height: 350px;
        width: 470px; }
        .jobs .jobs-right .job5 .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px; }
      .jobs .jobs-right .job6 {
        height: 350px;
        width: 470px; }
        .jobs .jobs-right .job6 .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px; }
  .projects .item {
    width: 450px; }
    .projects .item img {
      width: 270px; }
  .cont .email {
    height: 230px;
    width: 460px;
    margin-left: -30px; }
    .cont .email .cont-text {
      height: 230px;
      width: 460px; }
      .cont .email .cont-text:hover {
        height: 260px;
        width: 550px;
        color: black;
        background: white;
        padding-top: 70px; }
  .cont .p-num {
    height: 230px;
    width: 460px;
    margin-left: -30px; }
    .cont .p-num .cont-text {
      height: 230px;
      width: 460px; }
      .cont .p-num .cont-text:hover {
        height: 260px;
        width: 550px;
        color: black;
        background: white;
        padding-top: 70px; }
  .cont .address {
    height: 230px;
    width: 460px;
    margin-left: -30px; }
    .cont .address .cont-text {
      height: 230px;
      width: 460px; }
      .cont .address .cont-text:hover {
        height: 260px;
        width: 550px;
        color: black;
        background: white;
        padding-top: 70px; } }

@media screen and (max-width: 1170px) and (min-width: 769px) {
  main .lg-heading {
    line-height: 1; }
  main .sm-heading {
    font-size: 20px; } }
