@import "config";

@include mediaSm {
  main#home h1 {
    font-size: 50px;
  }
  main#home h2 {
    font-size: 20px;
  }
  main#about h1 {
    font-size: 50px;
    height: 130px;
  }
  main#road h1 {
    font-size: 40px;
    height: 130px;
  }
  main#work h1 {
    font-size: 40px;
    text-align: start;
    padding-left: 10px;
    height: 130px;
  }
  main#contact h1 {
    font-size: 35px;
    text-align: start;
    padding-left: 10px;
    height: 130px;
  }
  //menu
  //
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-nav {
    height: 70vh;
  }

  .menu-branding {
    height: 30vh;
    .portrait {
      height: 150px;
      width: 150px;
    }
  }

  .about-info {
    margin-bottom: 10px;
    grid-template-areas:
      "bioimage"
      "bio"
      "edutitle"
      "edu1"
      "edu2"
      "skill"
      "skills"
      "skills"
      "exatitle"
      "exa1"
      "exa2";
    grid-template-columns: 1fr;
    .bio-image {
      margin-left: 150px;
      margin-top: 150px;
      align-items: center;
    }

    .bio {
      width: 400px;
      text-align: center;
      margin-left: 8%;
      margin-top: 1%;
    }

    .edu1 {
      margin-left: 40px;
      height: 170px;
      width: 400px;
      .edu-text1 {
        height: 170px;
        width: 400px;
        font-size: 20px;
      }
    }
    .edu2 {
      margin-left: 40px;
      height: 170px;
      width: 400px;
      .edu-text2 {
        height: 170px;
        width: 400px;
        font-size: 20px;
      }
    }

    .skills {
      margin-left: 70px;
      padding-left: 80px;
      padding-top: 50px;
      width: 350px;
      height: 600px;
      align-items: center;

      .html-image {
        height: 100px;
        margin-bottom: 90px;
        &:hover {
          height: 150px;
          @include easeOut;
        }
      }
      .css-image {
        height: 100px;
        margin-bottom: 90px;
        &:hover {
          height: 150px;
          @include easeOut;
        }
      }
      .js-image {
        height: 100px;
        &:hover {
          height: 150px;
          @include easeOut;
        }
      }
      .react-image {
        height: 70px;
        &:hover {
          height: 120px;
          @include easeOut;
        }
      }
      .java-image {
        height: 70px;
        &:hover {
          height: 110px;
          @include easeOut;
        }
      }
      .so-image {
        height: 80px;
        margin-left: 40px;
        margin-top: 90px;
        &:hover {
          height: 110px;
          @include easeOut;
        }
      }
    }

    .exa1 {
      margin-left: 40px;
      height: 250px;
      width: 400px;
      .exa-text1 {
        height: 250px;
        width: 400px;
        font-size: 20px;
      }
    }
    .exa2 {
      margin-left: 40px;
      height: 250px;
      width: 400px;
      .exa-text2 {
        height: 250px;
        width: 400px;
        font-size: 20px;
      }
    }
    .edutitle {
      text-align: start;
    }

    .skill {
      text-align: start;
    }

    .exatitle {
      text-align: start;
    }
  }

  //work
  .projects {
    .item {
      width: 400px;
      img {
        width: 240px;
      }
    }
  }

  //road
  .jobs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    .jobs-left {
      width: 350px;
      margin-left: 65px;
      margin-bottom: 0;
      .job1 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }

      .job2 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }

      .job3 {
        height: 190px;
        width: 270px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }
    }

    .jobs-right {
      width: 350px;
      margin-left: 65px;
      margin-top: 0;
      .job4 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }

      .job5 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }

      .job6 {
        height: 190px;
        width: 270px;
        margin-bottom: 50px;
        .jobtext {
          height: 190px;
          width: 270px;
          font-size: 15px;
          margin-left: -135px;
          padding-top: 50px;
        }
      }
    }
  }

  //contact
  .cont {
    .email {
      width: 400px;
      margin-right: 40px;
      .cont-text {
        font-size: 25px;

        &:hover {
          height: 50px;
          width: 400px;
          color: black;
          background: white;
          padding-bottom: 150px;
          margin-left: 0px;
        }
      }
    }
    .p-num {
      width: 400px;
      margin-right: 40px;
      .cont-text {
        font-size: 20px;

        &:hover {
          height: 50px;
          width: 400px;
          color: black;
          background: white;
          padding-bottom: 150px;
          margin-left: 0px;
        }
      }
    }
    .address {
      width: 400px;
      margin-right: 40px;
      .cont-text {
        font-size: 20px;

        &:hover {
          height: 50px;
          width: 400px;
          color: black;
          background: white;
          padding-bottom: 150px;
          margin-left: 0px;
        }
      }
    }
  }
}

@include mediaMe {
  //home
  //
  main#home h1 {
    font-size: 70px;
  }
  main#home h2 {
    font-size: 20px;
  }
  main#about h1 {
    font-size: 50px;
    height: 150px;
  }
  main#road h1 {
    font-size: 55px;
    height: 150px;
  }
  main#work h1 {
    font-size: 55px;
    text-align: start;
    padding-left: 10px;
    height: 150px;
  }
  main#contact h1 {
    font-size: 55px;
    text-align: start;
    padding-left: 15px;
    height: 150px;
  }

  main {
    .lg-heading {
      line-height: 1;
    }
  }
  //menu
  //
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-nav {
    height: 70vh;
  }

  .menu-branding {
    height: 30vh;
    .portrait {
      height: 150px;
      width: 150px;
    }
  }
  //about
  //
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "edutitle"
      "edu1"
      "edu2"
      "skill"
      "skills"
      "skills"
      "exatitle"
      "exa1"
      "exa2";
    grid-template-columns: 1fr;
  }
  .bio-image {
    margin-left: 42%;
    align-items: center;
  }

  .bio {
    width: 100%;
    margin-left: 8%;
    margin-top: 1%;
  }

  .edutitle {
    text-align: start;
  }

  .edu1 {
    margin-left: 22%;
  }
  .edu2 {
    margin-left: 22%;
  }

  .skill {
    text-align: start;
  }

  .skills {
    margin-left: 20%;
    padding-left: 13%;
  }

  .exatitle {
    text-align: start;
  }

  .exa1 {
    margin-left: 22%;
  }

  .exa2 {
    margin-left: 22%;
  }

  ///road

  .jobs {
    display: flex;
    flex-wrap: wrap;

    .jobs-left {
      .job1 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job2 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job3 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }
    }

    .jobs-right {
      height: 1500px;
      width: 550px;
      margin-left: 100px;
      margin-top: 30px;

      .job4 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job5 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job6 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }
    }
  }
  //work
  .projects {
    .item {
      width: 450px;
      img {
        width: 270px;
      }
    }
  }
  //contact
  ///
  .cont {
    .email {
      height: 230px;
      width: 460px;
      margin-left: -30px;
      .cont-text {
        height: 230px;
        width: 460px;

        &:hover {
          height: 260px;
          width: 550px;
          color: black;
          background: white;
          padding-top: 70px;
        }
      }
    }

    .p-num {
      height: 230px;
      width: 460px;
      margin-left: -30px;
      .cont-text {
        height: 230px;
        width: 460px;

        &:hover {
          height: 260px;
          width: 550px;
          color: black;
          background: white;
          padding-top: 70px;
        }
      }
    }

    .address {
      height: 230px;
      width: 460px;
      margin-left: -30px;
      .cont-text {
        height: 230px;
        width: 460px;

        &:hover {
          height: 260px;
          width: 550px;
          color: black;
          background: white;
          padding-top: 70px;
        }
      }
    }
  }
}

@include mediaLg {
  main {
    .lg-heading {
      line-height: 1;
    }
    .sm-heading {
      font-size: 20px;
    }
  }
}

@include mediaXl {
}
