@import "config";

@include mediaSm {
  main#home h1 {
    font-size: 40px;
  }
  main#home h2 {
    font-size: 15px;
  }
}

@include mediaMe {
  main#home h1 {
    font-size: 50px;
  }

  main {
    .lg-heading {
      line-height: 1;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-nav {
    height: 70vh;
  }

  .menu-branding {
    height: 30vh;
    .portrait {
      height: 150px;
      width: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "edutitle"
      "edu1"
      "edu2"
      "skill"
      "skills"
      "skills"
      "exatitle"
      "exa1"
      "exa2";
    grid-template-columns: 1fr;
  }
  .bio-image {
    margin-left: 42%;
    align-items: center;
  }

  .bio {
    width: 100%;
    margin-left: 8%;
    margin-top: 1%;
  }

  .edutitle {
    text-align: start;
  }

  .edu1 {
    margin-left: 22%;
  }
  .edu2 {
    margin-left: 22%;
  }

  .skill {
    text-align: start;
  }

  .skills {
    margin-left: 20%;
    padding-left: 13%;
  }

  .exatitle {
    text-align: start;
  }

  .exa1 {
    margin-left: 22%;
  }

  .exa2 {
    margin-left: 22%;
  }

  ///road

  .jobs {
    display: flex;
    flex-wrap: wrap;

    .jobs-left {
      height: 1500px;
      width: 550px;

      .job1 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job2 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job3 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }
    }

    .jobs-right {
      height: 1500px;
      width: 550px;
      margin-left: 100px;
      margin-top: 30px;

      .job4 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job5 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }

      .job6 {
        height: 350px;
        width: 470px;
        .jobtext {
          height: 350px;
          width: 470px;
          margin-left: -235px;
        }
      }
    }
  }

  .cont {
    .email {
      height: 25vh;
      width: 50vh;
      margin-left: -30px;
      .cont-text {
        height: 25vh;
        width: 50vh;

        &:hover {
          height: 35vh;
          width: 60vh;
          color: black;
          background: white;
          padding-top: 120px;
        }
      }
    }

    .p-num {
      height: 25vh;
      width: 50vh;
      margin-left: -30px;
      .cont-text {
        height: 25vh;
        width: 50vh;

        &:hover {
          height: 35vh;
          width: 60vh;
          color: black;
          background: white;
          padding-top: 120px;
        }
      }
    }

    .address {
      height: 25vh;
      width: 50vh;
      margin-left: -30px;
      .cont-text {
        height: 25vh;
        width: 50vh;

        &:hover {
          height: 35vh;
          width: 60vh;
          color: black;
          background: white;
          padding-top: 120px;
        }
      }
    }
  }
}

@include mediaLg {
  main {
    .lg-heading {
      line-height: 1;
    }
    .sm-heading {
      font-size: 20px;
    }
  }
}

@include mediaXl {
}
