@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background;
  background: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings and titles

h1,
h2 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5.5rem;
    border: solid 2px $primary-colour;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
    color: $secondary-colour;
  }

  &.sm-heading {
    padding: auto;
    background: rgba($primary-colour, 0.4);
    margin-top: 20px;
    color: $secondary-colour;
  }

  &.lg-heading-about {
    padding: auto;
    font-size: 5.5rem;
    background: rgba($primary-colour, 0.4);
    margin-top: 20px;
    padding-left: 30px;
    color: $secondary-colour;
    text-align: start;
  }

  &.edutitle {
    grid-area: edutitle;
    background: rgba($primary-colour, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: $secondary-colour;
    overflow: hidden;
  }

  &.edutitle1 {
    grid-area: edutitle1;
    opacity: 0;
  }

  &.skill {
    grid-area: skill;
    background: rgba($primary-colour, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: $secondary-colour;
    overflow: hidden;
  }

  &.skill1 {
    grid-area: skill1;
    opacity: 0;
  }

  &.exatitle {
    grid-area: exatitle;
    background: rgba($primary-colour, 0.4);
    width: 200%;
    padding: 5px 20px;
    font-size: 30px;
    color: $secondary-colour;
    overflow: hidden;
  }

  &.exatitle1 {
    grid-area: exatitle1;
    opacity: 0;
  }

  &.lg-heading-road {
    font-size: 5.5rem;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    color: $secondary-colour;
    background: rgba($primary-colour, 0.8);
  }

  &.lg-heading-contact {
    font-size: 4.5rem;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
    color: $secondary-colour;
    background: rgba($primary-colour, 0.8);
  }
}

a {
  color: $secondary-colour;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.second-text {
  color: rgb(2, 2, 54);
}

//////home

main {
  min-height: calc(100vh - 150px);
  text-align: center;

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 35vh;
    }
  }
}

//About

//

.about-info {
  display: grid;
  grid-gap: 20px;
  row-gap: 100px;
  margin-bottom: 200px;
  grid-template-areas:
    "bioimage bio"
    "edutitle edutitle1"
    "edu1 edu2"
    "skill skill1"
    "skills skills"
    "exatitle exatitle1"
    "exa1 exa2";
  grid-template-columns: repeat(2, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 70px;
  border-radius: 50%;
  border: 2px solid;

  &:hover {
    transform: rotateY(360deg);
    transition: 2s;
  }
}

.bio {
  grid-area: bio;
  width: 80%;
  text-align: start;
  padding-top: 20px;
  background: rgba($primary-colour, 0.4);
  padding: 10px 40px;
  margin-top: 80px;
  color: $secondary-colour;
}

.edu1 {
  grid-area: edu1;
  background-color: white;
  width: 465px;
  height: 200px;
  margin: auto;
  margin-left: 160px;
  background: url(/dist/images/thw.jpg);
  background-size: cover;

  .edu-text1 {
    position: absolute;
    opacity: 0;
    color: white;
    height: 200px;
    width: 465px;
    background: rgba(black, 0.9);
    font-size: 30px;
    line-height: 10px;
    padding-top: 30px;

    &:hover {
      opacity: 1;
      @include easeOut;
    }
  }
}

.edu2 {
  grid-area: edu2;
  background: url(/dist/images/rc.jpg);
  background-size: cover;
  width: 465px;
  height: 200px;
  margin: auto;
  margin-right: 170px;

  .edu-text2 {
    color: white;
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(black, 0.9);
    height: 200px;
    width: 465px;
    opacity: 0;

    &:hover {
      opacity: 1;
      @include easeOut;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  grid-area: skills;
  background: rgba($secondary-colour, 0.4);
  margin: auto;
  margin-top: 60px;
  padding-top: 15px;

  .html-image {
    &:hover {
      height: 250px;
      @include easeOut;
    }
  }

  .js-image {
    &:hover {
      height: 250px;
      transition: ease-out;
      @include easeOut;
    }
  }

  .css-image {
    height: 200px;
    margin-left: 40px;
    margin-right: 40px;
    &:hover {
      height: 250px;
      transition: ease-out;
      @include easeOut;
    }
  }

  .react-image {
    margin: 40px;
    margin-right: 20px;
    &:hover {
      height: 200px;
      transition: ease-out;
      @include easeOut;
    }
  }

  .java-image {
    margin-top: 40px;
    &:hover {
      height: 200px;
      transition: ease-out;
      @include easeOut;
    }
  }

  .so-image {
    margin: 40px;
    margin-left: 20px;
    &:hover {
      height: 190px;
      transition: ease-out;
      @include easeOut;
    }
  }
}

.exa1 {
  grid-area: exa1;
  background: url(/dist/images/teatas.jpg);
  background-size: cover;
  width: 465px;
  height: 300px;
  margin: auto;
  margin-left: 150px;

  .exa-text1 {
    color: white;
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(black, 0.9);
    height: 300px;
    width: 465px;
    opacity: 0;

    &:hover {
      opacity: 1;
      @include easeOut;
    }
  }
}

.exa2 {
  grid-area: exa2;
  background: url(/dist/images/telc.jpg);
  background-size: cover;
  width: 465px;
  height: 300px;
  margin: auto;
  margin-right: 170px;

  .exa-text2 {
    color: white;
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    background: rgba(black, 0.9);
    height: 300px;
    width: 465px;
    opacity: 0;

    &:hover {
      opacity: 1;
      @include easeOut;
    }
  }
}

//My Road
//

.jobs {
  display: flex;
  column-gap: 170px;
  width: 80%;
  margin-bottom: 30px;

  .jobs-left {
    flex: 40%;
    list-style: none;
    margin-left: 100px;
    margin-top: 80px;
    padding-right: 40px;
    background: rgba(lightgray, 0.8);

    .job1 {
      font-size: 20px;
      background: url(/dist/images/gorrilas.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;
      margin-top: 120px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }

    .job2 {
      font-size: 20px;
      background: url(/dist/images/bakery.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }

    .job3 {
      font-size: 20px;
      background: url(/dist/images/tkmax.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }
  }
  .jobs-right {
    flex: 40%;
    list-style: none;
    background: rgba(lightgray, 0.8);
    margin-top: 280px;
    padding-top: 120px;
    padding-right: 40px;

    .job4 {
      font-size: 20px;
      background: url(/dist/images/runner.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }

    .job5 {
      font-size: 20px;
      background: url(/dist/images/edeka.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 150px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }

    .job6 {
      font-size: 20px;
      background: url(/dist/images/macd.jpg);
      background-size: cover;
      height: 50vh;
      width: 65vh;
      margin-bottom: 100px;

      .jobtext {
        font-size: 30px;
        position: absolute;
        background: rgba(black, 0.9);
        height: 50vh;
        width: 65vh;
        margin-left: -203px;
        color: white;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
          @include easeOut;
        }
      }
    }
  }
}

//Contact

//
.cont {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .email {
    background: url(/dist/images/email.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px;
    margin-top: 100px;

    .cont-text {
      font-size: 35px;
      font-weight: 400;
      color: white;
      background: rgba(black, 0.5);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid;

      &:hover {
        height: 45vh;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
      }
    }
  }

  .p-num {
    background: url(/dist/images/pn.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px;

    .cont-text {
      font-size: 35px;
      font-weight: 500;
      color: white;
      background: rgba(white, 0.3);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid;

      &:hover {
        height: 45vh;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
      }
    }
  }

  .address {
    background: url(/dist/images/address.jpg);
    background-size: cover;
    height: 35vh;
    width: 70vh;
    margin-bottom: 150px;

    .cont-text {
      font-size: 35px;
      font-weight: 400;
      color: white;
      background: rgba(black, 0.5);
      height: 35vh;
      margin-top: 0px;
      padding-top: 35px;
      border: 2px solid;

      &:hover {
        height: 45vh;
        width: 85vh;
        color: black;
        background: white;
        margin-left: -50px;
        padding-top: 75px;
      }
    }
  }
}

//footer
//

footer {
  background: $primary-colour;
  height: 150px;
  margin-bottom: 0;

  .footer-text {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }
}

@import "mobile";
